[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/eisty
[access "refs/for/refs/*"]
	read = group user/eisty
	push = group user/eisty
	label-Code-Review = -2..+2 group user/eisty
	label-Verified = -1..+1 group user/eisty
	rebase = group user/eisty
	removeReviewer = group user/eisty
	submit = group user/eisty
[access "refs/heads/*"]
	read = group user/eisty
	create = group user/eisty
	push = +force group user/eisty
	pushMerge = group user/eisty
[access "refs/tags/*"]
	push = group user/eisty
	push = +force group user/eisty
